$I: '' !default;
$Id: '#f ' !default;
$P: '\\:' !default;
$V: 'fx-' !default;

$Colors: (
) !default;

$ColorVariants: (
    odd:            od,
    even:           ev,
    visited:        vs,
    checked:        ch,
    valid:          vl,
    invalid:        in,
    focus-within:   fw,
    hover:          hv,
    focus:          fc,
    focus-visible:  fv,
    active:         ac,
    disabled:       ds,
    group-hover:    gh,
    group-focus:    gf,
    class:          cl,
    group-class:    gc,
) !default;

$PseudoElements: (
    before: bf,
    after:  af,
) !default;

$PseudoVariants: (
    hover:  hv,
) !default;

$ActiveClasses: (
    "#{$Id}.active",
) !default;
