
h1:not([class]), h2:not([class]), h3:not([class]), h4:not([class]), h5:not([class]), h6:not([class]) {
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1:not([class]) {
  font-size: 2.5rem;
}

h2:not([class]) {
  font-size: 2rem;
}

h3:not([class]) {
  font-size: 1.75rem;
}

h4:not([class]) {
  font-size: 1.5rem;
}

h5:not([class]) {
  font-size: 1.25rem;
}

h6:not([class]) {
  font-size: 1rem;
}

a[href]:not([class]) {
  color: var(--blue-600);
  text-decoration: underline;
}

a[href]:not([class]):hover {
  color: var(--blue-800);
  text-decoration: underline;
}

code:not([class]) {
    background-color: var(--gray-100);
    color: var(--red-600);
    font-size: .875em;
    font-weight: 400;
    padding: .25em .5em .25em;
}