$BorderWidth: (
  0:  0px,
  "": 1px,
  2:  2px,
) !default;

@each $name, $value in $BorderWidth {
  @if ($name != "") {
    $name: -#{$name};
  } 
  #{$Id}.#{$P}border#{$name} {
    border-width: #{$value}#{$I};
  }
  #{$Id}.#{$P}border-t#{$name} {
    border-top-width: #{$value}#{$I};
  }
  #{$Id}.#{$P}border-b#{$name} {
    border-bottom-width: #{$value}#{$I};
  }
  #{$Id}.#{$P}border-l#{$name} {
    border-left-width: #{$value}#{$I};
  }
  #{$Id}.#{$P}border-r#{$name} {
    border-right-width: #{$value}#{$I};
  }
}

#{$Id}.#{$P}border-w-\? {
    border-width: var(--border-w)#{$I};
}

@each $screen, $width in $Screens {
  @media (min-width: #{$width}) {
    #{$Id}.#{$screen}\:border-w-\? {
        border-width: var(--#{$screen}-border-w)#{$I};
    }
  }
}