$BorderRadius: (
  rounded-none: 0px,
  rounded-sm:   0.125rem,
  rounded:      0.25rem,
  rounded-md:   0.375rem,
  rounded-lg:   0.5rem,
  rounded-full: 9999px,
) !default;

@each $name, $size in $BorderRadius {
  #{$Id}.#{$P}#{$name} {
    border-radius: #{$size}#{$I};
  }
}

#{$Id}.#{$P}rounded-\? {
    border-radius: var(--rounded)#{$I};
}