$Display: (
  hidden:       none,
  inline:       inline,
  block:        block,
  inline-block: inline-block,
  grid:         grid,
  inline-grid:  inline-grid,
  flex:         flex,
  inline-flex:  inline-flex,
) !default;

@each $name, $value in $Display {
  #{$Id}.#{$P}#{$name} {
    display: #{$value}#{$I};
  }
}

#{$Id}.#{$P}display-\? {
  display: var(--display)#{$I};
}

@each $screen, $width in $Screens {
  @media (min-width: #{$width}) {
    #{$Id}.#{$screen}\:display-\? {
        display: var(--#{$screen}-display)#{$I};
    }
  }
}