#{$Id}.#{$P}ring-offset-w-\? {
    --fx-ring-offset-width: var(--ring-offset-w)#{$I};
    --fx-ring-offset-shadow: 0 0 0 var(--fx-ring-offset-width) var(--fx-ring-offset-color), var(--fx-ring-shadow)#{$I};
}

@each $variant, $prefix in $RingVariants {    
    #{$Id}.#{$prefix}\:ring-offset-w-\?:#{$variant} {
        --fx-ring-offset-width: var(--#{$prefix}-ring-offset-w)#{$I};
        --fx-ring-offset-shadow: 0 0 0 var(--fx-ring-offset-width) var(--fx-ring-offset-color), var(--fx-ring-shadow)#{$I};
    }
}
