@mixin ringColor($dk: '', $dkv: '') {
    
    @if ($dk == '') {
        #{$Id}.#{$P}ring-\? {
            --fx-ring-color: var(--#{$dkv}ring)#{$I};
        }
    } @else {
        #{$Id}.#{$dk}ring-\? {
            --fx-ring-color: var(--#{$dkv}ring)#{$I};
        }
    }
    
    @each $variant, $prefix in $RingVariants {
        #{$Id}.#{$dk}#{$prefix}\:ring-\?:#{$variant} {
            --fx-ring-color: var(--#{$dkv}#{$prefix}-ring)#{$I};
        }
    }
}

@include ringColor();

@media (prefers-color-scheme: dark) {
    @include ringColor('dk\\:', 'dk-');
}
