$TransitionProperty: (
  transition-none: none,
  transition-all: all,
  transition: "background-color, border-color, color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter",
  transition-colors: "background-color, border-color, color, fill, stroke",
  transition-opacity: opacity,
  transition-shadow: box-shadow,
  transition-transform: transform,
) !default;

#{$Id}.#{$P}transition-\? {
    transition-property: var(--transition)#{$I};
}

@each $name, $value in $TransitionProperty {
  #{$Id}.#{$P}#{$name} {
    transition-property: #{$value}#{$I};
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)#{$I};
    transition-duration: 150ms#{$I};
  }
}