$TransitionDuration: (
) !default;

#{$Id}.#{$P}duration-\? {
    transition-duration: var(--duration)#{$I};
}

@each $name, $value in $TransitionDuration {
  #{$Id}.#{$P}duration-#{$name} {
    transition-duration: #{$value}#{$I};
  }
}