$TransitionDelay: (
) !default;

#{$Id}.#{$P}delay-\? {
    transition-delay: var(--delay)#{$I};
}

@each $name, $value in $TransitionDelay {
  #{$Id}.#{$P}delay-#{$name} {
    transition-delay: #{$value}#{$I};
  }
}