$TransformOrigin: (
  center:       center,
  top:          top,
  top-right:    top right,
  right:        right,
  bottom-right: bottom right,
  bottom:       bottom,
  bottom-left:  bottom left,
  left:         left,
  top-left:     top left,
) !default;

#{$Id}.#{$P}origin-\? {
    transform-origin: var(--origin)#{$I};
}

@each $name, $value in $TransformOrigin {
  #{$Id}.#{$P}origin-#{$name} {
    transform-origin: #{$value}#{$I};
  }
}
