$TransformVariants: (
    hover:          hv,
    group-hover:    gh, 

) !default;

#{$Id}.#{$P}transform-\? {
    transform: var(--transform)#{$I};
}
    
@each $variant, $prefix in $TransformVariants {
    @if $variant == 'group-hover' {
        #{$Id}.#{$P}group:hover .#{$prefix}\:transform-\? {
            transform: var(--#{$prefix}-transform)#{$I};
        }
    }
    @else {
        #{$Id}.#{$prefix}\:transform-\?:#{$variant} {
            transform: var(--#{$prefix}-transform)#{$I};
        }
    }
}
