$TransitionTimingFunction: (
  linear: linear,
  in:     cubic-bezier(0.4, 0, 1, 1),
  out:    cubic-bezier(0, 0, 0.2, 1),
  in-out: cubic-bezier(0.4, 0, 0.2, 1),
) !default;

#{$Id}.#{$P}ease-\? {
    transition-timing-function: var(--ease)#{$I};
}

@each $name, $value in $TransitionTimingFunction {
  #{$Id}.#{$P}ease-#{$name} {
    transition-timing-function: #{$value}#{$I};
  }
}